@using Microsoft.AspNet.Identity

<style>
    span a {
       color: white;

    }
   

</style>
<div  >
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <div class="">
                <span style="margin-right: 10px;">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </span>
                <span><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
            </div>
        }
    }
    else
    {
    <div  style="display: flex">
        <span style="margin-right: 10px; color: rgba(255, 255, 255, 0.55)">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
        <span>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
    </div>
    }
</div>